body {
    min-height: 100vh;
    background-color: #f1f5f9;
    color: #1e293b;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

